extends layout/navbar

block content
  section.p-3
    h1.text-success= title
    p Welcome to #{title}
    p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt iste, omnis sint soluta tenetur. Accusamus adipisci asperiores aut, consequuntur deleniti dolore dolores error harum iure minus nobis optio perferendis quaerat quidem quisquam rerum ullam vel vero. Alias asperiores atque in labore laborum necessitatibus perferendis saepe voluptates. Laudantium, magni, voluptatibus!
    p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur dicta eaque enim eos esse eveniet expedita fuga fugit ipsa ipsum itaque maiores maxime, molestiae mollitia natus nesciunt nostrum numquam officiis possimus quas quo temporibus tenetur ut veniam. Adipisci alias consectetur deserunt esse nesciunt numquam quasi tenetur. Praesentium, repellendus vero.
